*{margin: 0 auto;}
.no_padding { padding-left: 0px; padding-right: 0px; }
.clearBox { clear: both; height: 20px; }
a { text-decoration: none; color: inherit; font-size: 100%; }
ul { list-style: none; }

::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb {  background: #888; }
::-webkit-scrollbar-thumb:hover {  background: #555; }


header { width: 100%; background: #e4e3e3; }
header ul li{ width: 100%; height: 100px; background: #737373; margin-top: 25px;
	margin-bottom: 25px; line-height: 100px; font-size: 32px;}
header ul li a {color: white;}
header ul li .logo {width: 100px; height: 100px; background: #737373; border-radius: 100px;}
header ul .bg { background: #e4e3e3 !important;}
header .hidden_logo {width: 100px; height: 100px; background: #737373; border-radius: 100px;
	display: none;}

.headline_wrapper { width: 100%; background: #cacaca; min-height: 100px; margin-top: 0px;}
.headline_wrapper h2 {color: white; font-size: 35px; text-align: center; line-height: 100px;
margin-top: 0px;}

main {width: 100%; min-height: 800px;}
section article { width: 100%; margin-bottom: 20px; height: 800px; background-color: #cacaca;}
aside {width: 100%; min-height: 800px;}
aside article {width: 100%; height: 210px; margin-bottom: 20px; background-color: #cacaca;}
aside .download {width: 100%; height: 110px; background-color: #cacaca;}
aside .download h2 {font-size: 25px; line-height: 110px; text-align: center; margin-top: 0px;}
footer {width: 100%; height: 200px; background-color: black;}
footer ul {list-style: none; background-color: black;}
footer .footernav {height: 180px; background-color: #cacaca; margin-top: 10px;
margin-right: 24px;}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu_item { margin-bottom: 10px; }
	.instructor { margin-bottom: 20px; }
	footer {background-color: inherit;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	header .hidden_logo { display: block; margin-top: 20px;}
}